@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-bottom: 2.5em;
}

.create-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.create-form {
  display: flex;
  flex-direction: column;
}
